.tooltip {
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 250px;
}

.tooltip .tooltip-content {
    display: none;
    width: 300px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0;
    position: static;
}

.tooltip:hover .tooltip-content {
    display: block;
}

.content {
  position: relative;
}